// 448 iphone horizontal (448) //////////////////////////////
@media screen and (min-width: 448px) and (max-width: 639px) {
	//5
	#page {
		background-image: url(../images/starburst448.svg);
	}
	
	.narrow {
		width: 438px;
	}
	
	header {
		margin-top: 30px;
		
		#logo {			
			img {
				width: 118px;
				height: 118px;
			}
		}
		
		h1 {
			font-size: 2em;
			margin-top: 30px;
		}
	}
	
	#flash_holder {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		
		z-index: 10;
	}
	
	#flash {
		.flash {
			text-align: center;
			border-bottom-right-radius: 0px;
			
			padding-top: 20px;
			padding-bottom: 20px;
			
			display: none;
		}
	}
	
	#search_subscribe {
		display: block;
		
		.search_subscribe {
			form {
				input[type="text"] {
					width: 225px;
				}
			}
		}
	}
	
	#content {
		.scuba_nav {	
			text-align: center;
			
			h1 {
				text-align: left;
			}
			
			ul {
				text-align: left;
				
				li {
					float: left;
				}
				
				li:after {
					content: "~";
					padding: 0 0 0 10px;
				}
				
				li:last-child:after {
					content: "";
				}
				
				li.header {
					float: none;
				}
				
				li.header:after {
					content: "";
				}
			}
			
			ul:after {
				content: ".";
			  display: block;
			  height: 0;
			  clear: both;
			  visibility: hidden;
			}
		}

		#main_content {
			position: relative;
			top: -25px;
			
			h1 {
				font-size: 2.5em;
				line-height: 40px;
				top: 25px;
			}
			
			p {
				padding-top: 0px;
			}
			
			p:nth-child(2) {
				padding-top: 30px;
			}
			
			// newsletter /////////////
			article section {
				p {				
					img {
						width: 265px;
						float: left;
						padding: 0 0 20px 0;
					}
				}
			}
			// end newsletters ///////
			
			
			#contact_info {
				border: 0;
				
				article[itemtype="http://data-vocabulary.org/Organization"] {

					h1 {
						display: none;
					}

					p[itemprop="address"] {
						float: none;
						text-align: center;
					}

					p[itemprop="tel"] {
						text-align: center;
						float: none;
					}

					a[itemprop="url"] {
						display: none;
					}

					.links {
						text-align: center;
						margin-bottom: 10px;
						float: none;
						
						 a {
							display: block;
							float: none;
							margin: 0 0px 10px 20px;
							background-color: #fff;
							
							-webkit-border-radius: 5px;
							-moz-border-radius: 5px;
							border-radius: 5px;
							
							padding: 5px 0px;
							color: #2D68D4;
							
							background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,1)),color-stop(.9, rgba(152,152,152,.7)));
							background-image:	-moz-linear-gradient(center top, rgba(255,255,255,1) 0%, rgba(152,152,152,.7) 90%);
						}
					}
				}
			}
		}
	}
	
	.contact_us {
		display: none;
	}

	footer {
		h1 {
			padding-top: 30px;
		}
		
		ul {
			padding-top: 70px;
			
			li {
				font-size: 10px;
				padding-left: 10px;
			}
		}

		#copyright {
			text-align: center;
			font-size: 11px;
			position: relative;
			left: 20px;
		}
	}
}
