<div class="certifications">
	<h1>Certifications</h1>
	<ul>
		<li><%= link_to 'Beginning' %></li>
		<li><%= link_to 'Intermediate' %></li>
		<li><%= link_to 'Advanced' %></li>
		<li><%= link_to 'Professonal' %></li>
	</ul>
</div>