<article itemscope itemtype="http://data-vocabulary.org/Organization">
	<p class="links">
		<%= link_to 'Contact us' %>
		<%= link_to 'Who we are' %>
	</p>
	
	<h1 itemprop="name">Poseidon Adventures, Ltd.</h1>
	<p itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
		<span itemprop="street-address">1234 S. Peoria Ave</span>
    <span itemprop="locality">Tulsa</span>,
    <span itemprop="region">OK</span>
    <span itemprop="postal-code">74555</span>
    <span itemprop="country-name">USA</span>
	</p>
	<p itemprop="tel">(918) 555-5555</p>
	<a itemprop="url" href="http://www.scubatulsa.com/">Poseidon Adventures Ltd.</a>
	<span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
    <meta itemprop="latitude" content="36.105686" />
    <meta itemprop="longitude" content="-95.976013" />
  </span>
</article>