
<div id="logo"><%= image_tag 'logo.png' %></div>
<h1>Poseidon Adventures Ltd.</h1>
<div id="bouy">
	<%= image_tag 'bouy.png' %>
</div>

<div id="header_forms">
	<form action="" method="post">
		<input type="email" name="email" id="subscriber_email" value="Subscribe"/>
	</form>
	<form action="" method="post">
		<input type="text" name="search" id="search" value="Search"/>
	</form>
</div>