<% photo = Photo.first(:conditions => [ "id >= ?", rand(Photo.count)]) %>

<div class="media">
	<h1>Media</h1>
	<% if photo %>
		<p><%= image_tag photo.image.url, :width => 90 %></p>
		<h2><%= photo.title %></h2>
		<p class="description"><%= photo.description %></p>
	<% end %>
	<p><%= link_to 'Photo Albums', albums_path %></p>
</div>