<div class="search_subscribe">
	<form action="" method="post">
		<input type="text" name="search_subscribe" id="search_subscribe_field" value="search or subscribe"/>
		<input type="submit" value="go"/>
	</form>
</div>